@lib:registry=https://gitlab.amgate.ru/api/v4/packages/npm/
@belyaev-dev:registry=https://npm.pkg.github.com

//npm.pkg.github.com/:_authToken=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
//gitlab.amgate.ru/api/v4/packages/npm/:_authToken=meCsqGAiPpk32M5jgdAV

registry=https://registry.npmjs.org